<div class="container">
  <div class="task-container">
    <h1>Angular Card Componet Task</h1>
    <p>
      Today's task involves working with Angular. Angular is a platform for
      building mobile and desktop web applications. Here are the key points for
      today's task:
    </p>
    <ul>
      <li>Set up a new Angular project using Angular CLI.</li>
      <li>Angular is A single page application.</li>
      <li>Understand the structure of an Angular project.</li>
      <li>Create a new component and understand the component lifecycle.</li>
      <li>Implement data binding and event binding in your components.</li>
      <li>Make use of Angular services to manage data and logic.</li>
      <li>
        Set up routing to navigate between different views in your application.
      </li>
    </ul>
    <p>
      By the end of today's task, you should have a good understanding of the
      basics of Angular and be able to create a simple application.
    </p>

    <button class="task-btn" (click)="goToCard()">See the Card Componet</button>
  </div>
</div>
